textarea {
  resize: none;
}

.enterName{
  background-color: yellow;
}

/*Adds margin and drop shadow*/
#FormBox {
  box-shadow: 8px 8px rgba(0,0,0,.3);
  margin-bottom: 20px;
  background-color: #E3E3E3;
  padding: 20px;
  border-radius: 15px;
}
#uploadImgBox {
  /*box-shadow: 3px 3px rgba(0,0,0,.3);*/
  height: 150px;
  width: 150px;
  border-style: dashed;
  border-width: 2px;
  border-radius: 10px;
  margin: 7px;
  float: left;
}

#uploadImg {
  max-width: 50px;
  display: block;
  margin: auto;
  top: auto;
  transform: translateY(75%);

}

#uploadTxt {
  text-align: center;
  transform: translateY(45px);
}
button{
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  overflow: hidden;
}

