<div ng-include="'components/navbar/navbar.html'"></div>

<!--<header class="hero-unit" id="banner">-->
  <!--<div class="container">-->
    <!--<h1>UMM CAN I BUY THIS</h1>-->
    <!--<p class="lead">The best student transaction service we have to offer. Sorry.</p>-->
    <!--<img src="assets/images/logo.gif" alt="We are Morris, bum bum bumbumbum bum">-->
  <!--</div>-->
<!--</header>-->

<div id="side" ng-include="'components/sidebar/sidebar.html'"></div>

<div class="container" id="features">
  <div class="row">
    <div class="col-lg-12">
      <br>
      Search: <input type="text" size="60px">
      <h1 class="page-header">Recently Added Items:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="items in theItems">
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li> -->
        <li><a href="#" >{{items.name}}</a></li>
      </ul>
    </div>
    <div class="col-lg-12">
      <br>

      <h1 class="page-header">Recently Viewed:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="items in theItems">
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li> -->
        <li><a href="#" >{{items.name}}</a></li>
      </ul>
    </div>
    <div class="col-lg-12">
      <br>

      <h1 class="page-header">Followed Items:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="items in theItems">
        <!--<li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li> -->
        <li><a href="#" >{{items.name}}</a></li>
      </ul>
    </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
