.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: 20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 10px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
    background: #fabb00;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

#side {

  width: 200px;
  height: 500px;
  float: left;
  margin-left: 30px;
  padding: 10px;
  background: #991414;
  color: #ffffff;
}

#features {

}

.category-links {
  color: #ffffff;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  display:block;

}

.category-links:hover {
  color: #ffff00;
  text-decoration: none;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
}

.displayImg {
  max-width:86%;
  max-height:95%;
  border-radius: 10px;
  box-shadow: 7px 7px 0px rgba(68,68,68,0.2);
  #display:block;
  #margin:auto;
}

div {
  #border-style: solid;
}

.col-md-4 {
  height: 300px;
  text-align: center;
}

.arrow {
  font-size: 40px;
  opacity: .5;
}

.arrow:hover {
  opacity: 1;
}

ul {
  list-style-type: none;
}

.whiteLink {
  color: white;
}

.searchBar {
  margin-left: 200px;
}

#banner {
  color: white;
}

.categoryHeaders {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.categoryLinks {
  margin-left: 0;
  padding-left: 0;
  font-size: 120%;
}

.browseItemsHeader {
  padding-bottom: 10px;
  margin-bottom: 10px;
}



