
<div class="navbar navbar-default navbar-static-top">
  <!--<div class="container">-->
  <header class="hero-unit" id="banner">
    <div class="container">
      <h2><a href="/"><img height="80" width="100" src="/assets/images/logo.gif" alt="We are Morris, bum bum bumbumbum bum"></a>UMM... CAN I BUY THIS</h2>
      <p class="lead">The best system for buying and selling at University of Minnesota, Morris!</p>
    </div>
  </header>
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
      <li ng-click="resetMain()" ng-class="{active: true}"><a href="#">Home</a></li>
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
      </li>
      <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
      <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
      <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
      <li ng-show="isLoggedIn()"><a href="http://www.gmail.com">Email</a></li>
      <!--<li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>-->
      <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
  <!--</div>-->
</div>

<div class="row"> <!-- BEGIN ROW HERE -->

  <!--BEGIN COLUMN FOR SIDEBAR HERE-->
  <div class="col-md-2">

    <div id="side">
      <h2 class="browseItemsHeader">Browse Items</h2>
      <ul class="categoryLinks">
        <li ng-click="chooseCategory('')" value="All"><a class='whiteLink' href="#">All</a></li>
        <hr>
        <li ng-click="myItems()"><a class='whiteLink' href="#">My Items</a></li>
        <hr>
        <li ng-click="chooseCategory(category.name)" ng-repeat="category in categories" value="{{category.name}}"><a class='whiteLink' href="#">{{category.name}}</a></li>
      </ul>
    </div>

  </div>

  <!--BEGIN COLUMN FOR MAIN STUFF HERE-->
  <div class="col-md-9">

    <form class="searchBar">
      <input ng-model="searchedText" type="text" size="60px">
      <button ng-click="search(selectedCategory)">Search</button>
      <label ng-show="showList">
        Filter by price:
        <select ng-model="selectedPriceRange">
          <option ng-value="-1" selected>None</option>
          <option ng-value="priceRanges[0]">${{priceRanges[0]}} - $19</option>
          <option ng-value="priceRanges[1]">${{priceRanges[1]}} - $39</option>
          <option ng-value="priceRanges[2]">${{priceRanges[2]}} - $59</option>
          <option ng-value="priceRanges[3]">${{priceRanges[3]}} - $79</option>
          <option ng-value="priceRanges[4]">${{priceRanges[4]}} - $99</option>
          <option ng-value="priceRanges[5]">${{priceRanges[5]}}+</option> <!-- Sorry for the hard-codes!! -->
        </select>
      </label>
      <br>
      <span ng-show="showMyItems" class="categoryHeaders">My Items > </span><span class="categoryHeaders">{{selectedCategory}}</span>
    </form>

      <!--Data-binding the main page swap items for debugging purposes.-->
      <!--{{selectedItem}}-->
      <!--{{selectedCategory}}-->
      <!--{{searchedText}}-->

      <!--BEGIN MAIN VIEW HERE!!!-->

    <div class="container" id="features" ng-show="showMain">

      <h1 class="page-header">Recently Added Items:</h1>
      <div class="row">
        <div class="col-md-4">
          <a ng-click="chooseItem(theItems[0])" href="#" >{{theItems[0].name}}<br>
          <img class="displayImg" src={{theItems[0].imagePath}}>
          </a>
        </div>
        <div class="col-md-4">
          <a ng-click="chooseItem(theItems[1])" href="#" >{{theItems[1].name}}<br>
          <img class="displayImg" src={{theItems[1].imagePath}}>
          </a>
        </div>
        <div class="col-md-4">
          <a ng-click="chooseItem(theItems[2])" href="#" >{{theItems[2].name}}<br>
          <img class="displayImg" src={{theItems[2].imagePath}}>
          </a>
          <span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
        </div>
      </div>

      <h1 class="page-header">Recently Viewed Items:</h1>
      <div class="row">
        <div class="col-md-4">
          <a ng-click="chooseItem(theItems[3])" href="#" >{{theItems[3].name}}<br>
          <img class="displayImg" src={{theItems[3].imagePath}}>
          </a>
        </div>
        <div class="col-md-4">
          <a ng-click="chooseItem(theItems[4])" href="#" >{{theItems[4].name}}<br>
          <img class="displayImg" src={{theItems[4].imagePath}}>
          </a>
        </div>
        <div class="col-md-4">
          <a ng-click="chooseItem(theItems[5])" href="#" >{{theItems[5].name}}<br>
          <img class="displayImg" src={{theItems[5].imagePath}}>
          </a>
          <span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
        </div>
        </div>

      <br>
      <br>
      <br>

        <h1 class="page-header">Followed Items:</h1>
        <div class="row">
          <div class="col-md-4">
            <a ng-click="chooseItem(theItems[6])" href="#" >{{theItems[6].name}}<br>
            <img class="displayImg" src={{theItems[6].imagePath}}>
            </a>
          </div>
          <div class="col-md-4">
            <a ng-click="chooseItem(theItems[9])" href="#" >{{theItems[9].name}}<br>
            <img class="displayImg" src={{theItems[9].imagePath}}>
            </a>
          </div>
          <div class="col-md-4">
            <a ng-click="chooseItem(theItems[8])" href="#" >{{theItems[8].name}}<br>
            <img class="displayImg" src={{theItems[8].imagePath}}>
            </a>
            <span class="glyphicon glyphicon-chevron-right arrow" aria-hidden="true"></span>
          </div>
          </div>
    </div>

      <!--BEGIN LIST AND SEARCH VIEW HERE-->

    <div ng-show="showList">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in theItems | filter:categoryFilter | filter:priceFilter | filter:searchFilter | filter:myItemsFilter">
              <a ng-click="chooseItem(item)" href="#">
                <img height="100" width="100" src="{{item.imagePath}}">
                <span>{{item.name}}</span>
                <span>${{item.price}} <span ng-show="item.negotiable">(Negotiable Price)</span></span>
                <span>{{item.sellerInfo.first}} {{item.sellerInfo.last}}</span>
              </a>
            </li>
        </ul>
    </div>

      <!--BEGIN SHOW SPECIFIC ITEM VIEW HERE-->

    <div ng-show="showItem">
      <div class="row">
        <div class="col-md-4">
          <img class="viewItemImage" src="{{selectedItem.imagePath}}">
        </div>

        <div class="col-md-8">
          <h1>{{selectedItem.name}}</h1>
          <h3>By: {{selectedItem.sellerInfo.first}} {{selectedItem.sellerInfo.last}}</h3>
          <span class="price">Price: ${{selectedItem.price}} </span><span ng-show="selectedItem.negotiable"> (Negotiable)</span>
          <p>{{selectedItem.description}}</p>
          <input class="btn btn-primary" type="button" value="Follow This Item">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-1">
          <input ng-click="sendGmailBuy(selectedItem)" class="btn btn-primary" type="button" value="Buy This">
        </div>

        <div class="col-md-2" style="text-align:center">
          <input ng-click="sendGmailOffer(selectedItem)" class="btn btn-primary" ng-show="selectedItem.negotiable" type="button" value="Make Offer">
        </div>

        <div class="col-md-1">
          <input ng-click="sendGmailQuestions(selectedItem)" class="btn btn-primary" type="button" value="Questions">
        </div>

        <div class="col-md-8">
          <input ng-show="selectedItem.sellerInfo.email === getCurrentUser().email" class="btn btn-warning" type="button" value="Remove Item">
        </div>
      </div>
    </div>

  </div> <!-- END COLUMN HERE -->

</div> <!-- END ROW HERE -->

<div ng-include="'components/footer/footer.html'"></div>
